*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
	max-width: 100%;
  display: block;
}

ul {
	list-style: none;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

input:focus-visible {
  outline: none;
}

label {
	cursor: pointer;
} 
